<div class="footer">
<div class="pure-menu pure-menu-horizontal pure-menu-open">
  <ul>
    <li><a href="/">This is an intentionally vulnerable web app. </a></li>
    <li><a href="/"> Do not use parts for this code for real world stuff. </a></li>
  </ul>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
