<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Web Security is fun.">
  <title>DamnVulnerable.me</title>

  <link rel="stylesheet" href="/css/vendor/pure-min.css">
  <link rel="stylesheet" href="/css/vendor/grids-responsive-min.css">
  <link rel="stylesheet" href="/css/layouts/blog.css">

</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <hgroup>
              <a href="/" id="headerLink">
                <h1 class="brand-title">damnvulnerable.me</h1>
                <h2 class="brand-tagline">A vulnerable app with too many DOM issues</h2>
              </a>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                  <h3><b> DOM XSS </b></h3>
                    <li class="nav-item">
                        <a class="pure-button" target="_blank" href="/domxss/location_hash_to_window_eval#a=1">location.hash --> window.eval</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" target="_blank" href="/domxss/location_hash_to_document_write#DamnVulnerble">location.hash --> document_write</a>
                    </li>
                  <li class="nav-item">
                    <a class="pure-button" target="_blank" href="/domxss/xhr_to_div_innerhtml">XMLHttpRequest --> div.innerHTML</a>
                  </li>
                  <li class="nav-item">
                    <a class="pure-button" target="_blank" href="/domxss/xhr_to_div_outerhtml">XMLHttpRequest --> div.outerHTML</a>
                  </li>
                  <li class="nav-item">
                    <a class="pure-button" target="_blank" href="/domxss/cookie_set_to_eval">Set Cookie --> Eval</a>
                  </li>
                  <li class="nav-item">
                    <a class="pure-button" target="_blank" href="/domxss/cookie_to_innerhtml">Cookie --> Div.innerHTML</a>
                  </li>
                  </li>
                  <li class="nav-item">
                    <a class="pure-button" target="_blank" href="/domxss/xhr_to_eval">XMLHttpRequest --> eval</a>
                  </li>

                  </ul>

                <h3><b> UNSAFE REDIRECTS </b></h3>
                <li class="nav-item">
                  <a class="pure-button" target="_blank" href="/misc/1">Misc 1</a>
                </li>

                <h3><b> MISC </b></h3>
                <li class="nav-item">
                  <a class="pure-button" target="_blank" href="/misc/insecure_global_variable">Insecure Global variable</a>
                </li>

                </ul>

                  <h3><b> RESOURCES</b> </h3>
                  <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" target="_blank" href="https://www.owasp.org/index.php/DOM_based_XSS_Prevention_Cheat_Sheet">OWASP DOM XSS CheatSheet</a>
                    </li>

                    </li>
                </ul>
            </nav>
        </div>
    </div>


