<html>
<head>
  <title>
    <%= title %>
  </title>
  <script src="/js/domxss/<%= scriptSrc %>.js"></script>
</head>
<body>
  <div>
    <section class="post">
      <header class="post-header">
        <center><h2 class="post-title"><%= title %> </h2></center><br/><br/>
      </header>

      <div class="post-description">
        <p>
        </p>
      </div>
    </section>
  </div>

</body>
</html>