<%= include /layouts/header.ejs %>

<div>

    <section class="post">
        <header class="post-header">

            <h2 class="post-title">Home </h2>

        </header>

        <div class="post-description">
            <p>

                <div>
                  DamnVulnerable.io is a webapp that is damn vulnerable. Its goal is to provide a platform to learn, test and practice DOM based bugs, especially DOM XSS.
            <br/>
            <br/>

                <div>
                  You can spin up your own vulnerable app by cloning this <a href="https://github.com/skepticfx/danvulnerable.io">from Github.</a>
                </div>
            </p>
        </div>
    </section>
</div>



<%= include /layouts/footer.ejs %>
