<%= include ../layouts/header.ejs %>


<div>
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><%= title %> </h2><br/><br/>

            </header>

            <div class="post-description">
                <p>

                </p>
            </div>
        </section>
    </div>


<%= include ../layouts/footer.ejs %>
