<html>
<head>
  <title>
    window.opener redirection
  </title>
</head>
<body>
<div>
  <section class="post">
    <header class="post-header">
      <center><h2 class="post-title">Redirect the parent window when opened using target=_blank and window.opener is not null.</h2>
        <h1>Taken from  https://hackerone.com/reports/23386</h1></center><br/><br/>
    </header>

    <div class="post-description">
      Works on Firefox and Chrome.
      <p>
        Click Me: <a href="http://daniel-tomescu.com/hackerone/landpage.php" target="_blank"> Yea Me!</a>
      </p>
    </div>
  </section>
</div>

</body>
</html>